# Server
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/procurement_db"

# JWT
JWT_SECRET="your-secret-key-here"

# External APIs
JOKE_API_URL="https://v2.jokeapi.dev"
